
/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Style the header */
.header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}



div.argument {
	/*width: 50%;
	margin: auto;*/
}

div.argument p.Assertion {
	text-align: center;
	font-size: 24px;
}

div.argument p.Reasoning {
	font-size: 18px;
}

div.argument ul {
  margin: 0;
  padding: 0;
  /*text-align: center;*/
}

/* Style the list items */
div.argument ul li.subArg {
  width: 16.6667vw; /* One-sixth of the viewport width */
  height: 100px; /* Fixed height */
  cursor: pointer;
  position: relative;
  padding: 12px 32px;
  background: #e0e0e0;
  font-size: 18px;
  transition: 0.2s;
  list-style-type: none;
  display: inline-block; /* Inline-block for layout */
  vertical-align: top; /* Align to the top */
}

/* Style the list items */
div.argument ul li.subArg {
  width: 16.6667vw; /* One-sixth of the viewport width */
  height: 100px; /* Fixed height */
  cursor: pointer;
  position: relative;
  padding: 12px 32px;
  background: #e0e0e0;
  font-size: 18px;
  transition: 0.2s;
  list-style-type: none;
  display: inline-block; /* Inline-block for layout */
  vertical-align: top; /* Align to the top */
}

/* Style the list items */
div.argument ul li.addBtn {
  width: 100px; /* One-sixth of the viewport width */
  height: 100px; /* Fixed height */
  cursor: pointer;
  position: relative;
  padding: 12px 32px;
  background: #b0ffb0;
  font-size: 18x;
  transition: 0.2s;
  list-style-type: none;
  display: inline-block; /* Inline-block for layout */
  vertical-align: top; /* Align to the top */
}

/* Set all odd list items to a different color (zebra-stripes) */
ul.EvidenceList li.subEv:nth-child(odd) {
  background: #f9f9f9;
}

ul.SubArgList li.subArg:nth-child(even) {
  background: #f9f9f9;
}

p.ParentArgument {
  width: 50vw; /* One-sixth of the viewport width */
  height: 100px; /* Fixed height */
  cursor: pointer;
  position: relative;
  padding: 12px 32px;
  background: #e0e0e0;
  font-size: 24px;
  transition: 0.2s;
  list-style-type: none;
  display: inline-block; /* Inline-block for layout */
  vertical-align: top; /* Align to the top */
}

p.ParentArgument:hover {
  background: #aaa;
}

/* Darker background-color on hover */
div.argument ul li:hover {
  background: #aaa;
}

ul.EvidenceList li.subEv:nth-child(odd):hover {
  background: #aaa;
}


ul.SubArgList li.subArg:nth-child(even):hover {
  background: #aaa;
}

