div.trunk {
	background: #aaa;
	border: 2px solid #999;
	border-radius: 30px;
	display: inline-block;
}

.AddBtnArg {
	background: #aaa;
	border: 2px solid #999;
	border-radius: 20px;
	display: inline-block;
}

div.BtnDiv *{
	display: inline-block;
}

.SubArgList div.Arg {
	display: inline-block;
}
