/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Style the header */
.header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 100%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

div.argument {
	/*width: 50%;
	margin: auto;*/
}

div.argument h3 {
	/*text-align: center;*/
	font-size: 24px;
	/*background-color: #0b0;*/
}

div.argument h4 {
	/*text-align: center;*/
	font-size: 18px;
	/*background-color: #b00;*/
}

div.argument ul {
  margin: 0;
  padding: 0;
  /*text-align: center;*/
}

/* Style the list items */
div.argument ul li {
  width: 20%;
  cursor: pointer;
  position: relative;
  padding: 12px 32px 12px 32px;
  background: #e0e0e0;
  font-size: 18px;
  transition: 0.2s;
  list-style-type: none;
  display: inline;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul.EvidenceList li:nth-child(odd) {
  background: #f9f9f9;
}

ul.SubArgumentList li:nth-child(even) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
div.argument ul li:hover {
  background: #aaa;
}

/* When clicked on, add a background color and strike out text */
div.argument ul li.selected {
  background: #888;
  color: #fff;
}
