:root {
  --green-light: #a5d6a7;
  --green: #2e7d32;
  --green-lighter: #c8e6c9;
  --green-dark: #1b5e20;
  --green-dark-hover: #1b5e20;
  --green-light-hover: #81c784;
  
  --red-light: #d6a5a7;
  --red: #7d2e32;
  --red-lighter: #e6c8c9;
  --red-dark: #5e1b20;
  --red-dark-hover: #5e1b20;
  --red-light-hover: #c78184;
  
  --off-white: #f5f9f5;
  --line-color: #2e7d32;
}

.trunk {
	background: var(--green-light); 
	border: 3px solid var(--green); 
	border-radius: 10px; 
	display: inline-block; 
	padding: 0px; 
	margin: 0px 0px;
     
	white-space: nowrap; 
	box-sizing: border-box;
  max-width: 450px;
  min-width: 250px;
  
  overflow: hidden;
  word-wrap: break-word;
  overflow-wrap: break-word;
  box-sizing: border-box;

}

.Confutation.trunk {
  background: var(--red-light); 
	border: 3px solid var(--red); 
}

.Arg {
	position: relative; 
	display: inline-block; 
}

.SubArgList {
	display: flex; 
	flex-wrap: nowrap; 
	justify-content: center; 
	margin: 0px;
	gap: 20px; 
	
}

.Assertion {
    background: var(--green-light);
    border: 0px;
    margin: 10px 10px 0px 10px;
    font-size: 18px;
    font-weight: bold;
    width: calc(100%-20px);
    overflow-wrap: break-word;
    white-space: normal;
    text-align: center;
    
    font-family: inherit;
    line-height: 1.2; 
}

.Confutation .Assertion {
    background: var(--red-light);
}

.Reasoning {
    background: var(--green-light);
    border: 0px;
    margin: 10px 10px 10px 10px;
    font-size: 14px;
    text-align: justify;
    width: calc(100%-20px);
    overflow-wrap: break-word;
    white-space: normal;

    
    font-family: inherit;
    line-height: 1.2; 
}

.Confutation .Reasoning {
    background: var(--red-light);
}

.AssertionModify {
    background: var(--green-light);
    border: 0px;
}

.Confutation .AssertionModify{
    background: var(--red-light);
}

.ReasoningModify {
	background: var(--green-light);
    border: 0px;
}

.Confutation .ReasoningModify{
    background: var(--red-light);
}

.ExplanationModify {
    background: var(--green-light);
    border: 0px;
}

.Confutation .ExplanationModify {
    background: var(--red-light);
}

.SourceModify {
	background: var(--green-light);
    border: 0px;
}

.Confutation .SourceModify {
    background: var(--red-light);
}

.AddArgBtn {
  color: white;
  font-weight: bold;
	background: var(--green);  
	border-radius: 15px; 
	display: inline-block;  
	white-space: nowrap; 
	box-sizing: border-box;
	width: 30px; 
	height: 15px;
	margin: 0px;
}

.AddArgBtn:hover {
	background: var(--green-dark);   
}


.BtnDiv {
	background: var(--green-light);
	width: 100%;	
}

.Confutation .BtnDiv {
    background: var(--red-light);
}

div.BtnDiv * {
	display: inline-block; 
	margin: 0 0px; 
}



.OptBtn {
  color: white;
  font-weight: bold;
	background: var(--green);
	width: 50%;
	margin: 0;
	padding: 0px;
}

.OptBtn:hover {
	background: var(--green-dark-hover);
}

.Confutation .OptBtn{
  background: var(--red);
}

.Confutation .OptBtn:hover{
  background: var(--red-dark-hover);
}

.AddEvBtn {
  color: white;
  font-weight: bold;
	background: var(--green); 
	width: 50%;
	margin: 0;
	padding: 0px;
}

.AddEvBtn:hover {
	background: var(--green-dark-hover); 
}

.Confutation .AddEvBtn{
  background: var(--red);
}

.Confutation .AddEvBtn:hover{
  background: var(--red-dark-hover);
}

.saveBtn{
  color: white;
  font-weight: bold;
	background: var(--green); 
	width: 50%;
	margin: 0;
	padding: 0px;
}

.saveBtn:hover{
	background: var(--green-dark-hover); 
}


.Confutation .saveBtn{
  background: var(--red);
}

.Confutation .saveBtn:hover{
  background: var(--red-dark-hover);
}

.delBtn{
  color: white;
  font-weight: bold;
	background: var(--green); 
	width: 50%;
	margin: 0;
	padding: 0px;
}

.delBtn:hover{
	background: var(--green-dark-hover); 
}

.Confutation .delBtn{
  background: var(--red);
}

.Confutation .delBtn:hover{
  background: var(--red-dark-hover);
}

.delEvBtn{
  color: white;
  font-weight: bold;
	background: var(--green); 
	width: 50%;
	margin: 0;
	padding: 0px;
}

.delEvBtn:hover{
	background: var(--green-dark-hover); 
}

.Confutation .delEvBtn{
  background: var(--red);
}

.Confutation .delEvBtn:hover{
  background: var(--red-dark-hover);
}

.confBtn{
  color: white;
  font-weight: bold;
	background: var(--green); 
	width: 100%;
	margin: 0;
	padding: 0px;
}

.confBtn:hover{
	background: var(--green-dark-hover); 
}

.Confutation .confBtn{
  background: var(--red);
}

.Confutation .confBtn:hover{
  background: var(--red-dark-hover);
}

.AssertionInput {
	background: var(--green-light); 
	border: 5px solid var(--green); 
	border-radius: 10px; 
  display: block; 
	margin: 10px auto; 
	white-space: nowrap; 
	box-sizing: border-box; 
	height: 25px;
}

.Confutation .AssertionInput {
  background: var(--red-light); 
	border: 5px solid var(--red); 
}

.EvidenceList {
	padding: 0px;
	margin: 0px;
}

.SubArgList {
	padding: 0px;
}

.Evidence {
  font-size: 14px;
	background: var(--off-white);
  white-space: normal;
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  box-sizing: border-box;
}

.Evidence:nth-child(even){
	background: var(--green-light);
}

.Evidence:hover {
	background: var(--green-light-hover);
}

.Confutation .Evidence:nth-child(even) {
  background: var(--red-light);
}

.Confutation .Evidence:hover {
  background: var(--red-light.hover);
}

.Source {
	background: var(--green-light);
	width: 90%;
	margin: 0px;
	display: none;
}

.Confutation .Source {
  background: var(--red-light);
}

.Evidence:hover .Source{
	display: block;
}

.horizontal-line {
  height: 2px; 
  background-color: black;
  margin: 0; 
  padding: 0; 
  display: block; 
}

.vertical-line {
  width: 2px;  
  height: 20px; 
  background-color: black;
}


#graph {
	margin: 2%;
}

body {
	margin: 0px;
}

.grow-wrap {
  display: grid;
}
.grow-wrap::after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}
.grow-wrap > textarea {
  resize: none;
  overflow: hidden;
  
}
.grow-wrap > textarea,
.grow-wrap::after {
  border: 0px;
  padding: 0.5rem;
  font: inherit;
  grid-area: 1 / 1 / 2 / 2;
}

#map {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
}
#graph {
  position: absolute;
  cursor: grab;
}
#graph:active {
  cursor: grabbing;
}
